@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="back">
        <img src="~/contents/background.jpg">
    </div>
    <div class="row_home">
        <div class="reserve_left">
            <h2>Reserve online and save some time!</h2>
            <p>Reservation Expert is designed to save you some time and nervousness. It was never so easy to reserve a table at restauratnt! </p>
        </div>
        <div class="reserve_right">
            <p>Make your reservation with click on the button below.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Reservation")';return false;">Reserve table</button>
           <!--<button type="button" class="btn btn-primary" id="reserveButton">Reserve table</button>-->     
        </div>
    </div>
</div>
