@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Saving users data</h4>
<p>Our app will save data, which you tipe when, you are loging in our app.</p>

<h4>Payments</h4>
<p>Users and admins can see payments that were made on our web app.</p>
